[submodule "ghidra/ghidra"]
	path = ghidra/ghidra
	url = https://github.com/airbus-cert/ghidra
	branch = fix-memory-access-violation
[submodule "ghidra/eBPF-for-Ghidra"]
	path = ghidra/eBPF-for-Ghidra
	url = https://github.com/Nalen98/eBPF-for-Ghidra.git
[submodule "loader/eBPF_processor"]
	path = loader/eBPF_processor
	url = https://github.com/cylance/eBPF_processor.git
